<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="D:\Documents/Path of Building/Builds/DeeLectric +IG.xml"/>
		<Arg string="DeeLectric +IG"/>
	</Mode>
	<Accounts lastAccountName="SteamCovan" lastRealm="PC">
		<Account accountName="SteamCovan"/>
	</Accounts>
	<SharedItems/>
	<Misc betaTest="false" connectionProtocol="nil" thousandsSeparator="," showThousandsSeparators="true" slotOnlyTooltips="true" invertSliderScrollDirection="false" showTitlebarName="true" defaultCharLevel="1" nodePowerTheme="RED/BLUE" buildSortMode="NAME" showWarnings="true" defaultItemAffixQuality="0.5" defaultGemQuality="0" decimalSeparator="."/>
</PathOfBuilding>
